absl-py
alembic
altair
async-timeout
asyncio
backoff
bokeh
boto3
chardet
charset-normalizer
dash
dash-bootstrap-components
dash-daq
django
fastapi
fs
fsspec
gcsfs
gunicorn
hiredis>=1.0.0
httpx
huggingface-hub
ipykernel
ipympl
itables
jinja2
jupyter
matplotlib
mmh3
numpy
openai==0.28.1
opentelemetry-distro==0.46b0
opentelemetry-exporter-otlp>=1.20.0
opentelemetry-instrumentation-aiohttp-client==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-aws-lambda==0.46b0
opentelemetry-instrumentation-dbapi==0.46b0
opentelemetry-instrumentation-django==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-instrumentation-grpc==0.46b0
opentelemetry-instrumentation-httpx==0.46b0
opentelemetry-instrumentation-jinja2==0.46b0
opentelemetry-instrumentation-logging==0.46b0
opentelemetry-instrumentation-pymysql==0.46b0
opentelemetry-instrumentation-redis==0.46b0
opentelemetry-instrumentation-requests==0.46b0
opentelemetry-instrumentation-sqlalchemy==0.46b0
opentelemetry-instrumentation-sqlite3==0.46b0
opentelemetry-instrumentation-system-metrics==0.46b0
opentelemetry-instrumentation-tornado==0.46b0
opentelemetry-instrumentation-urllib==0.46b0
opentelemetry-instrumentation-urllib3==0.46b0
opentelemetry-instrumentation-wsgi==0.46b0
pandarallel
pandas
pandas-stubs
pip
plotly
plotly-express
plotly-resampler
polars
pre-commit
prefect
prefect-aws
prefect-docker
prompt-toolkit
psycopg2-binary
pyarrow>=15.0.0,<16.0.0
pydantic
pymysql>=1.1.1
pynvml
pyparsing
pyright
pyspark
pytest
pytest-docker
python-dateutil
redis==5.0.8
rich
s3fs>=2024.3.1
scikit-learn
scipy
seaborn
slack-sdk
snowflake-connector-python
splitio-client[cpphash]==9.6.0
sqlalchemy
sqlalchemy-json
sqlglot
sqlparse
sqlvalidator
streamlit
streamlit-auth0-component
streamlit-javascript
tabulate
types-pymysql
types-redis
types-requests
uuid7
uvicorn[standard]
wandb
wrapt-timeout-decorator
xgboost
fakeredis[json]
networkx
python-mermaid
pytest
pytest-docker
freezegun